body{
    font-family: 'Times New Roman', Times, serif;
    /*background-image: url('cesar.jpg');*/
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 80px;
    color: #ffffff;
}

.sessaoInicial{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.712);
    width: 550px;
    height: 600px;
    border-radius: 40px;
    margin: auto;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    box-shadow: 3px 3px 3px grey;
}

.divInicial{
    margin-top: 20%;
}

h3{
    font-size: 35px;
    color: #ffffff;
}

.botaoCriptografar, .botaoDescriptografar{
    height: 60px;
    width: 250px;
    box-shadow: inset 1px 1px 0px 0px rgb(73, 73, 253);
    background: linear-gradient(to bottom, rgb(65, 65, 245) 5%, rgb(21, 21, 134) 100%);
    background-color: rgb(75, 75, 255);
    border-radius: 3px;
    border: 1px solid rgb(4, 4, 182);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    margin-top: 50px;
}

.botaoCriptografar:hover, .botaoDescriptografar:hover, .botaoCriptografarMsg:hover, .botaoVoltarCripto:hover{
    background: linear-gradient(to bottom, rgb(21, 21, 134) 5%, rgb(65, 65, 245) 100%);
    background-color: rgb(21, 21, 134);
}

.botaoCriptografar:active, .botaoDescriptografar:active, .botaoCriptografarMsg:active, .botaoVoltarCripto:active{
    position: relative;
    top: 1px;
}

.sessaoCriptografia, .sessaoDescriptografia{
    background-color: rgba(128, 128, 128, 0.712);
    width: 550px;
    height: 600px;
    border-radius: 40px;
    margin: auto;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    box-shadow: 3px 3px 3px grey;
}

.divCriptografia, .divDescriptografia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.pMsg{
    margin-right: 10px;
    font-size: 20px;
}

.pMetodo{
    margin-left: 10px;
    font-size: 20px;
}

.inputCriptoMsg, .inputDescriptoMsg{
    width: 298px;
    height: 100px;
    resize: none;
    background-color: rgb(255, 255, 255, 0.712);
    box-shadow: 3px 3px 3px grey;
    font-size: 15px;
}

.inputCriptoMetodo, .inputDescriptoMetodo{
    width: 35px;
    background-color: rgb(255, 255, 255, 0.712);
    box-shadow: 3px 3px 3px grey;
}

.divBotaoCriptografar, .divBotaoDescriptografar{
    text-align: center;
}

.botaoCriptografarMsg, .botaoDescriptografarMsg{
    height: 30px;
    width: 140px;
    box-shadow: inset 1px 1px 0px 0px rgb(73, 73, 253);
    background: linear-gradient(to bottom, rgb(65, 65, 245) 5%, rgb(21, 21, 134) 100%);
    background-color: rgb(75, 75, 255);
    border-radius: 3px;
    border: 1px solid rgb(4, 4, 182);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}

.divSaidaMsgCripto, .divSaidaMsgDescripto{
    margin: auto;
    color: white;
    background-color: rgb(0, 0, 0, 0.712);
    width: 500px;
    overflow-wrap: break-word;
    text-align: justify;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    font-size: 15px;
}

.divVoltarCripto{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.botaoVoltarCripto, .botaoVoltarDescripto{
    height: 30px;
    width: 80px;
    box-shadow: inset 1px 1px 0px 0px rgb(73, 73, 253);
    background: linear-gradient(to bottom, rgb(65, 65, 245) 5%, rgb(21, 21, 134) 100%);
    background-color: rgb(75, 75, 255);
    border-radius: 3px;
    border: 1px solid rgb(4, 4, 182);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}